* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  touch-action: none;
  overscroll-behavior-y: contain; /*Prevent pull-to-refresh*/
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
}

#dl-link {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px 20px;
  color: #fff;
  background: #00a767;
  font-family: "Roboto", sans-serif;
  margin-right: 10px;
  border-radius: 5px 5px 0 0;
}

#dl-link:hover {
  text-decoration: none;
  color: #ccc;
}

#canvas {
  background: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid #333;
  /* height: 300px; */
}

.toolbar {
  position: fixed;
  bottom: 0;
  margin: 20px;
  width: 300px;
  height: 100px;
  background: #fff;
  backdrop-filter: blur(3px);
  border-radius: 999px;
  box-shadow: 0 0 25px 5px rgba(160, 160, 160, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.5s ease;
}

.toolbar .handle {
  cursor: pointer;
  position: absolute;
  margin: 5px;
  height: 5px;
  width: 60px;
  border-radius: 999px;
  background: #ccc;
  top: 0;
}

.toolbar .hitbox {
  position: absolute;
  margin: 0;
  height: 30px;
  width: 100%;
  border-radius: 999px;
  /* background: rgba(160, 160, 160, 0.5); */
  top: 0;
}

.toolbar .handle:focus {
  outline: none;
  background: rgb(255, 196, 196);
}

.toolbar-hidden {
  bottom: -95px;
}

.toolbar .tools-grid {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  /* padding-top: 50px; */
}

.toolbar .tool {
  cursor: pointer;
  /* background: rgb(255, 196, 196); */
  padding: 10px;
  border-radius: 999px;
  font-family: "Roboto", sans-serif;
  user-select: none;
}

.toolbar .tool:active {
  background: rgba(160, 160, 160, 0.5);
}

.toolbar .popup {
  position: absolute;
  bottom: 110%;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 5px 1px rgba(160, 160, 160, 0.5);
  width: 80%;
  height: 90%;
  right: 10%;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s ease;
}

.toolbar .popup-hidden {
  opacity: 0;
  bottom: 0;
  pointer-events: none;
}

.toolbar .thickness-indicator {
  border-radius: 50%;
  display: block;
  height: 10px;
  width: 10px;
  background: #000;
}

.color-picker-input {
  opacity: 0;
  height: 30px;
  width: 30px;
  visibility: hidden;
}

.color-picker {
  background: #000;
  width: 30px;
  height: 30px;
}
